{% extends 'classes/base.html' %}
{% load static %}
{% load extras %}

{% block load_css %}
<link rel="stylesheet" href="{% static 'classes/css/login.css' %}">
{% endblock load_css %}

{% block content %}
<form method="POST" novalidate>
	{% csrf_token %}
	<img src="{% static "classes/img/person.png" %}" id="login-logo" alt="">
	<p id='login-p'>Вход</p>
	<div class="input-wrapper">
		<input type="text" name="username" maxlength="65" required id="id_username" class="text-input" placeholder="Имя профиля">
	</div>
	<div class="input-wrapper">
		<input type="password" name="password" maxlength="65" required id="id_password" class="text-input" placeholder="Пароль">
	</div>
	<input type="submit" value="Войти" id="submit-btn">
</form>
{% endblock content %}
