#table-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

span {
    font-size: 1.75vw;
}

img {
    width: 3.5vw;
}

form {
    width: 100%;
}

#cards-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}

.card-wrapper {
    position: relative;
    margin: 1vw;
    margin-bottom: 1vw;
    width: 95%;
    flex-grow: 0;
}

.student-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #37A5D5;
    height: 5vw;
    border-radius: 1vw;
}

.student-info img {
    margin: 0 1vw;
}

.student-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.student-name {
    color: white;
}

.student-info {
    display: flex;
    align-items: center;
}

.student-role {
    color: #76FF0A;
}

.student-xp {
    display: flex;
    align-items: center;
}

.student-xp span {
    color: white;
}

.points-logo {
    margin: 0 1vw;
}

.controls-course {
    display: flex;
    justify-content: space-between;
    background-color: #a6d6ec66;
    margin: 0 4vw;
    padding: 0.75vw 1.5vw;
    border-radius: 0 0 1vw 1vw;
    border: 2px solid #1EA7E2;
    border-top: none;
}

.adding-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.input-wrapper {
    height: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5vw;
}

.adding-logo {
    width: 3vw;
}

.input-point {
    width: 2vw;
}

.input-wrapper {
    background-color: white;
    border-radius: 0.5vw;
}

input {
    width: 5vw;
    text-align: center;
    appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.input-show {
    display: none;
}



#control_panel {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1vw;
    padding: 0.5vw;
}

button {
    height: 4vw;
    padding: 1vw;
    font-size: 1.5vw;
    border-radius: 0.5vw;
}

#submitBtns button:first-child {
    background-color: #c3e5ff;
    margin: 0 1vw 0 1vw;
}

#submitBtns button:last-child {
    background-color: #c3e5ff;
    margin: 0 1vw 0 0;
}

.target_flex {
    display: flex;
}

.target {
    display: none;
}

#openBtn {
    background-color: #d4fdbb;
}

#closeBtn {
    background-color: #ffc5c5;
}

/* Адаптив */
@media screen and (max-width : 420px) {

    span {
        font-size: 3.5vw;
    }
    
    img {
        width: 8vw;
    }

    #cards-container {
        flex-direction: column;
        align-items: center;
    }

    .card-wrapper {
        width: 90%;
    }

    .student-card {
        height: 15vw;
    }

    .student-info img {
        margin: 0 2.5vw;
    }

    .points-logo {
        margin: 0 2.5vw;
    }

    .student-xp span {
        font-size: 4vw;
    }

    .controls-course {
        margin: 0 8vw;
        padding: 1vw 6vw;
    }

    .input-wrapper {
        height: 8vw;
        padding: 0 2vw;
        margin-left: 2vw;
    }

    .adding-logo {
        width: 6vw;
    }

    input {
        width: 6vw;
        font-size: 4vw;
    }

    .input-point {
        width: 4vw;
    }

    #control_panel {
        flex-direction: column;
        align-items: center;
    }

    button {
        height: 8vw;
        font-size: 4.5vw;
    }

    #specialBtns {
        margin: 2vw 0;
        flex-direction: column;
        height: 28vw;
        justify-content: space-between;
        align-items: center;
    }

    #closeBtn {
        width: 20vw;
    }

    #submitBtns {
        display: flex;
        flex-direction: column;
        height: 18vw;
        justify-content: space-between;
        align-items: center;
    }

    #submitBtns button:first-child {
        margin: 0;
    }
    
    #submitBtns button:last-child {
        margin: 0;
    }

    .cards-container {
        width: 100%;
    }
}