@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;800&family=Open+Sans:wght@300;400;500;700;800&display=swap');
body {
    display: flex;
    min-height: 100vh;
}

img {
    width: 2vw;
}

* {
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;

}

#side-logo img {
    width: 2.5vw;
}

#side-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 4vw;
}

#side-logo div {
    background-color: rgb(204, 204, 204);
    width: 3vw;
    height: 0.15vw;
}

#aside-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 5vw;
    padding: 1vw 0.5vw 3vw 0.5vw;
    min-height: 100%;
}

#panel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5vw;
}

#tabs div {
    margin-bottom: 3vw;
}

#panel img {
    width: 1.5vw;
}

aside {
    background-color: #F2F2F2;
    border-radius: 0 1vw 1vw 0;
}

#wrapper {
    margin-left: 1vw;
    width: 100%;
}

header {
    height: 4.70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1vw;
}

#header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 1vw;
}

#profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

#exit-btn {
    display: flex;
    align-items: center;
    margin-left: 1vw;
}

#header-underline {
    background-color: rgb(204, 204, 204);
    width: 100%;
    height: 0.10vw;
}

#cards {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vw;
    margin: 0.5vw;
    background-color: rgb(240, 240, 240);
    box-shadow: 0.1vw 0.1vw 0.2vw rgb(214, 214, 214);
    border-radius: 1vw;
    width: 17.5vw;
    height: 16vw;
}

.card-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-header h3 {
    font-size: 3vw;
}

.card-header img {
    width: 4vw;
}

.cards-section-text {
    font-size: 1.5vw;
}

.card-section {
    display: flex;
    align-items: center;
}

.card-underline {
    background-color: rgb(204, 204, 204);
    width: 100%;
    height: 0.10vw;
    margin: 0.5vw 0 1vw 0;
}

.card-section-logo {
    display: flex;
    align-items: center;
    margin-right: 0.5vw;
}

.cards-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 75%;
}


/* Адаптив */
@media screen and (max-width : 420px) {

    * {
        font-size: 3.5vw;
    }

    #aside-bar {
        width: 10vw;
    }

    img {
        width: 5vw;
    }

    #side-logo img {
        width: 7vw;
    }

    #side-logo {
        height: 9vw;
    }

    #side-logo div {
        width: 10vw;
        height: 0.3vw;
    }   
    
    #panel img {
        width: 3vw;
    }

    header {
        height: 9.5vw;
    }

    #header-underline {
        height: 0.2vw;
    }

    #cards {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .card {
        width: 60vw;
        height: 30vw;
        margin: 4.5vw;
    }

    .card-header {
        justify-content: center;
    }

    .card-header h3 {
        font-size: 5vw;
        margin-left: 2vw;
    }

    .card-header img {
        width: 6vw;
    }

    .card-section-text {
        font-size: 3vw;
    }
}