{% extends 'classes/base.html' %}
{% load static %}
{% load extras %}

{% block load_css %}
<link rel="stylesheet" href="{% static 'classes/css/logs.css' %}">
{% endblock load_css %}

{% block content %}

<table>
    <tr>
        <th>Тип</th>
        <th>Изменение</th>
        <th>Изменитель</th>
        <th>Дата и время</th>
    </tr>
    {% for change in changes %}
    <tr>
        <td>{{ change.type }}</td>
        <td>

            {{ change.change }}

            {% comment %} Фамилия И: +-10xp
            Фамилия И: +-10xp
            Фамилия И: +-10xp
            Фамилия И: +-10xp {% endcomment %}
        </td>
        <td>{{ change.changer }}</td>
        <td>{{ change.datetime }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}

