{% extends 'classes/base.html' %}
{% load static %}
{% load extras %}

{% block load_css %}
<link rel="stylesheet" href="{% static 'classes/css/logs.css' %}">
{% endblock load_css %}

{% block content %}

<table>
    <tr>
        <th>Тип</th>
        <th>Изменение</th>
        <th>Изменитель</th>
        <th>Дата и время</th>
    </tr>
    {% for log in logs %}
    <tr>
        <td>{{ log.description }}</td>
        <td>

            {{ changes }}

            {% comment %} Фамилия И: +-10xp
            Фамилия И: +-10xp
            Фамилия И: +-10xp
            Фамилия И: +-10xp {% endcomment %}
        </td>
        <td>{{ log.user.user }}</td>
        <td>{{ log.Datetime|date:'Y-m-d' }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}

